.movieList {
    list-style: none;
    padding: 0;
    
    line-height: 1.5em;
}

.movieListItem{
    text-decoration: none;
    color: black
    
}

.movieListItemDetails::before{
    content: '-> ';
    font-weight: 900;
    color: chocolate;
}